*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.section{
    display: flex;
    align-items: center; 
    margin-bottom:15px;
    background-color: rgb(181, 181, 240);
    border-radius: 15px;
    padding:2px;
    margin:3px;
}

input{
    width:55%;
    margin:15px;
}
 
button{
   margin-right:10px;
   padding:10px;
   border-radius: 15px;
   background-color: rgb(113, 113, 135);
   color:white;
}

button:hover{
   background-color: white;
   color:rgb(113, 113, 135);
}


.container{
    width: 95%;
    min-width:300px ;
    margin:auto;
    text-align: center;
}

.botones{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

@media(min-width:720px) {
    main{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .section{
        width: 250px;
    }
    input{
        width: 115px;
    }
}




